@model IEnumerable<VennDevTest.Entities.Produit>
<div class="container space">
    <a asp-action="AddProduit">Nouveau Produit</a>
    <div class="panel ">
        <div class="panel-heading space"><h5>List des produits</h5></div>
        <div class="panel-body space">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Pix</th>
                    <th>EnStock</th>
                    <th>Quantité</th>
                </tr>
                @{
                foreach(var p in Model)
                {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Nom</td>
                    <td>@p.Description</td>
                    <td>@p.Image</td>
                    <td>@p.Prix</td>
                    <td>@p.EnStock</td>
                    <td>@p.Quantite</td>
                </tr>
                }
                }
            </table>
        </div>
    </div>
    
</div>
